doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      h1 Welcome to site 
      p Site description for header
    block content
    footer.footer 
      ul(title="test title")
        li first item 
        li second item 
        li third item 
